body {
    background-color: #8f57fd;
}
.characters-list {
    width: 100%;
    min-height: calc(100vh + 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.characters-list .loading {
    height: 120px;
}